@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Open+Sans&display=swap');
:root {
    /* Primary Colors */
    --white: #FFFFFF;
    --black: #000000;
    /* Secondary Colors */
    --yellow: #FFE521;
    /* Accent Colors */
    --pink: #FF009E;
    --green: #56F89A;
    font-family: 'bitter', 'open sans';
}