:root{
    /* Primary Colors */
    --white: #FFFFFF;
    --black: #000000;
    
    /* Secondary Colors */
    --yellow:#FFE521;
    
    /* Accent Colors */
    --pink:#FF009E;
    --green:#56F89A;
    }
    