/* Seccion superior */
#header-logo {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#chevron-logo {
  grid-column: 1;
  grid-row: 1;
}

.chevron-img {
  grid-column: 1;
  grid-row: 1;
  width: 90%;
}

#logoLS {
  grid-column: 2;
  grid-row: 1;
  font-size: 0.8em;
  align-self: center;
}

#ls-desktop {
  display: none;
}

#feed-section {
  background-color: var(--yellow);
}

/* Seccion Navbar */
#navbar-feed {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--light-gray);
}

#navbar-feed-laptop {
  display: none;
}

/* Seccion de los post */
#post-section {
  width: 414px;
}

#all-posts {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
}

.form-control {
  margin-top: 5%;
  width: 77%;
  text-align: center;
  font-size: 1rem;
  border-radius: 8px;
}

 .btn-posting {
   display: none;
  /* width: 20%;
  background-color: var(--white);
  color: var(--pink);
  font-family: 'Open Sans', sans-serif;
  padding: 2%;
  margin: 3%;
  font-size: 1rem;
  font-weight: 900;
  border-color: var(--pink);
  border-radius: 12px; */
} 

#post-container {
  /* width: 80%; */
  width: 414px;
  justify-self: center;
}

.each-post {
  border-style: solid;
  border-color: var(--green);
  border-radius: 8px;
  margin: 2%;
  /* background-color: var(--gray); */
}

.each-text {
  overflow-wrap: break-word;
  padding: 2%;
}

.btn-delete,
.btn-edit {
  width: 20px;
  font-family: 'Open Sans', sans-serif;
  padding: 2%;
  margin: 3%;
  font-size: 1rem;
  font-weight: 900;
  /* border-color: var(--pink); */
  border-radius: 12px;
}

.btn-delete {
  color: var(--pink);
  background-color: var(--white);
}

.btn-edit {
  color: var(--white);
  background-color: var(--white);
}

.likeBtn{
  width: 40px;
}

/* Seccion de los filtros */
#filter-found {
  background-color: var(--yellow);
  grid-column: 1/6;
  grid-row: 1/6;
}

.vector {
  padding-top: 10%;
}

#search-bar {
  display: none;
}

/* #post-area {
  margin-top: 5%;
  display: none;
} */

/* .search-link {
  width: 60%;
  padding: 5%;
} */

.redirect {
  height: 10px;
  width: 10px;
  margin: 0 7.3% 0 7.3%;
}

#filter-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 10%;
}

.title-icon {
  font-family: 'Bitter', sans-serif;
  font-weight: 700;
}

.search-help,
#search-help {
  width: 90%;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  text-align: center;
}
.search-memes,
#search-memes {
  width: 80%;
  grid-column: 4;
  grid-row: 1;
  justify-self: center;
  text-align: center;
}

.search-ghpage,
#search-ghpage {
  width: 80%;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  text-align: center;
}
.search-resources,
#search-resources {
  width: 80%;
  grid-column: 4;
  grid-row: 2;
  justify-self: center;
  text-align: center;
}

.search-team,
#search-team {
  width: 80%;
  grid-column: 3;
  grid-row: 3;
  justify-self: center;
  text-align: center;
}

#feed-section-laptop {
  display: none;
}

/* MODAL */

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal {
  background-color: var(--white);
  height: 50%;
  width: 50%;
  border-radius: 10px;
  position: relative;
  left: 6%;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentModal {
  margin: 10px;
}

#post-form {
  margin: 20px;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 5%;

}

#close {
  border: none;
  background-color: none;
}

.modal-close-post {
  display: grid;
  grid-template-columns: 2;
  margin: 10px;
}

#btn-post-form {
  grid-column: 2;
  width: 50%;
  background-color: var(--green);
  border-radius: 20px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 15px;
  color: var(--white);
}

.userInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

#profilePic {
  width: 60px;
  grid-column: 1;
  border-radius: 30px;
  margin: 5px;
}

#text-post {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin: 0;
}

.tool-bar {
  display: flex;
  justify-content: flex-end;
}

#text-icon {
  width: 25px;
  padding: 10px;
}

#link-icon {
  width: 25px;
  padding: 10px;
}

#addImg-icon {
  width: 25px;
  padding: 10px;
}
