@media all and (min-width: 1024px) {
  /* login - register button */
  #navbar {
    position: relative;
    padding: 5px;
    top: 0;
    left: 20%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  .title-students{
    width: 100%;
    padding: 2px;
  }

  .button {
    margin-left: 3%;
    width: 100px;
  }

  /* image */
  #img-background {
    background-size:contain;
    position: fixed;
    left:5%;
    top: 36%;
    background-repeat: no-repeat;  
 }
  .logo {
    width: 15%;
  }

  .students {
    font-size: 3rem;
    position: absolute;
    left: 30%;
    top: 4%;
  }

  .title-two {
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 38%;
  }

  footer {
    position: fixed;
    top: 96%;
    font-size: 2em;
    overflow: hidden;
  }


  #slider{
    /* top: 100%; */
    padding-left: 35%;
  }

  #slider figure{
    position: relative;
    width: 400%;
    animation: 10s slider infinite;
    opacity: 0.7;
  }
}
