@media all and (min-width: 1024px) {

  /* login - register button */
  #navbar {
    position: relative;
    padding: 10px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
  }

  .button {
    margin-left: 3%;
    width: 100px;
  }

  /* image */
  #img-background {
    width: auto;
  }

  .logo {
    width: 25%;
  }

  .students {
    font-size: 3rem;
  }

  .title-two {
    font-size: 2rem;
  }

  footer {
    position: relative;
    margin-top: 5%;
  }

  #slider{
    top: 20px;
    padding-left: 35%;
  }
}
