.input-data {
    border-radius: 10px;
    color: dimgray;
    font-size: 100%;
    width: 100%;
    padding: 15px;
    margin-bottom: 1em;
    border-color: var(--black) ;
}

.action-btn{
    border-radius: 10px;
    color: var(--pink);
    background-color: var(--white);
    padding: 20px;
    width: 100%;
    border-color: var(--pink);
    border-width: 3px;
    font-family: "open sans";
    margin-bottom: 1em;
    margin-top: 7%; 
}

/* .login {
    color: var(--pink);
    background-color: var(--white);
    height: 52px;
    width: 80%;
    border-radius: 10px;
    border-color: var(--pink);
    border-width: 3px;
    font-family: "open sans";
    margin-bottom: 1em;
    margin-left: 7%;
    margin-top: 7%;
}

.register-data {
    color: var(--pink);
    background-color: var(--white);
    height: 52px;
    width: 80%;
    border-radius: 10px;
    border-color: var(--pink);
    border-width: 3px;
    font-family: "open sans";
    margin-bottom: 1em;
    margin-left: 10%;
    margin-top: 7%;
} */

.action-google {
    background-color: var(--white);
    height: 52px;
    width: 100%;
    border-radius: 10px;
    border-color: var(--green);
    border-width: 3px;
    font-family: "open sans";
    margin-top: 10%;
    margin-bottom: 5%;
}

.img-google {
    width: 10%;
    vertical-align: middle;
}

.line {
    margin: 0px 20px;
    width: 35%;
    border-top: 4px solid var(--pink);
    position: relative;
    top: 10px;
    float: left;
    margin-top: 10%;
}

.or {
    font-weight: bold;
    float: left;
    margin-top: 10%;
}

#logout-btn {
    color: var(--white);
    background-color: var(--pink);
    margin-left: 10%;
}

.title-form {
    margin-left: 9%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.login-password {
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.new-colors {
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 130%;
}

.enter {
    text-align: center;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 5%;
}
/* Get the link to go to either the register o login pages */
#link-redirect{
    color: var(--black);
    text-decoration-color: var(--black);
}
#link-redirect:hover{
    color: var(--pink);
}
